
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



img {
    height: 100%;
}

/*prediction main container*/
.prediction{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(138, 130, 130), rgb(147, 170, 206));
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    }
  
   

.greeting-image{
    align-items: center;
    align-content: center;
    padding-left: 35%;
}
/*dog image design*/
.greeting-image>img{
    width: auto;
    height: 40vh;
    border: 2px solid rgb(61, 60, 60);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(61, 60, 60);
    margin-top: 20px;
    
}
.greeting-image>h1{
    font-weight: bold;
    padding-left: 10vw;
    
}
/*the input field*/
.input-part{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    

}
input{
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(204, 197, 197);
    width: 150px;
    height: 30px;
}
.btn{
    width:100px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}
.results{
    background-color: rgb(187, 187, 130);
    width: fit-content;
    padding: 5px;
    border-radius: 3px;

}
/*the prediction result*/
.prediction-result{
    margin-top: 30px;
}

/*Utilizes*/
.fontsize{
    font-size: medium;
    font-weight: bold;

}